<nav class="site-nav">
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="dev-diary">Dev Diary</NavLink>
    <NavLink href="board">Message Board</NavLink>
    <NavLink href="bbs">BBS Door Games</NavLink>
    <NavLink href="c64">C64 Hub</NavLink>
    <NavLink href="spectrum">Spectrum Hub</NavLink>
    <NavLink href="amstrad">Amstrad Hub</NavLink>
    <NavLink href="about">About</NavLink>
</nav>
